body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(253, 235, 156);
    
}
header{
    height: 60px;
    background-color: #ffffff50;        
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    box-shadow: 5px 5px 5px 5px #00000010;
}


.container{
    background-image: url('image/plan1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 1cm;
}
.text-white{
    color: white;
}
.avatar {
    height: 55px;
    max-height: 55px;
    max-width: 55px;
}
.avatar img {
    height: 100%;
    width: 100%;
}
.rounded-circle {
    border-radius: 50%;
}
.flex-row {
    display: flex;
}
.flex-grow{
    flex-grow: 1;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.center{
    justify-content: center;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.mx-md{
    margin: 0 2em;
}
li{
    list-style: none;
    cursor: pointer;
}
.login{
    max-height: 40px;
    max-width: 40px;
    height: 40px;
    width: 40px;
    background-color: rgb(216, 216, 240);
}
.px-md{
    padding: 0 2em;
}
h1{
    font-size: 3em;
    margin: 0;
}
.tag-line{
    width: 80%;
    background-color: #00000050;
}
.text-center{
    text-align: center;
}
.menu{
    position: relative;
}
.menu-container{
    position: absolute;
    left: -90%;
    top: 30px;
    height: 0;
    width: 200px;
    visibility: hidden;
    background-color: white;
    transition: height .5s;
    border-radius: 30px;
}

li:hover .menu-container{
    visibility: visible;
    transition: height .5s;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.wh-100{
    width: 100%;
    height: 100%;
    background-color: rgb(211, 205, 205);
}

.menu-item{
    width: 100%;
    padding: .5em;
    border-bottom: 1px solid #00000020;
}
.menu-item:hover{
    background-color: #00000080;    
}
.menu-item a:hover{
    color: white;
}
.menu-item a{
    text-decoration: none;
    color: #00000080;
    font-size: 16px;
}
ul {
    padding: 0;
}

.profils {
    height: 6cm;
    width: 6cm;
    max-height: 5cm;
    max-width: 5cm;
}
.profils img {
    height: 100%;
    width: 100%;
    margin: 1em 1em;
}

.space-benween{
    justify-content: space-between;
}

.profil{
    height: 6.5cm;
    background-color: azure;
}


.profil img{
height: 5cm;
margin-top: 25px;
float: left;
border-radius: 10px;
}
.profil li {
float: left;
text-align: center;
margin-right: 2cm;

}
.tail{
    display: block;
    height: 40px;
    width: 70px;
    background-color: rgba(247, 252, 252, 0.5);
    text-align: center;
    border-radius: 6px;
    line-height: 33px;
    margin-left: 1cm;
    font-family: sans-serif;
    font-style: italic;
}
.tail:hover{
    background-color: white;
    color: black;
}
.tailc a{
    text-decoration: none;
    color: white;
    display: block;
    height: 40px;
    width: 70px;
    background-color: rgb(112, 116, 116,0.5);
    text-align: center;
    border-radius: 6px;
    line-height: 33px;
    margin-left: 1cm;
    font-family: sans-serif;
    font-style: italic;
}
.tailc a:hover{
    background-color: white;
    color: black;
}

.block1{
    height:11cm;
    background-color: rgb(37, 43, 43,0.6);
    display: flex;
    padding: 0 auto;
    justify-content: space-between;
    padding: 0 2em;
}
.block1 .sblock img {
    width: 4cm;
    height: 3cm;
    margin-left: 17px;
    border-radius: 9px;
    background-color: rgb(242, 248, 248);
}
.block1 p {
    text-align: center;
    font-family: serif;
    font-style: italic;
}
.block1 .block{
    margin-top: 1cm;
    height:8cm ;
    width: 5cm;
    background-color: antiquewhite;
    border-width: 15px;
    border-style: solid;
    border-color: rgba(245, 213, 110, 0.699);
    border-radius: 2px;
}
.block1 h3{
    background-color:rgb(146, 146, 142) ;
    height: 1cm;
    width:100%;
    text-transform: uppercase;
    text-align: center;
    margin: 6px auto 17px;
    border-radius: 80px;
}
@media  screen and (max-width:980px) {
    .block1{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        }
 .foot{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    }
    .container{
     display: flex;
    flex-direction: column;
    width: 100%;
    height: 14cm;
    align-items: center;
    text-align: center;
    }
   header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3cm;
    align-items: center;
    padding: 0;
   }
   header .tete{
    display: block;
    flex-direction: column;
    float: right;
    width: 100%;
    height: 14cm;
    align-items: center;
   }
   header .tete .mx-md{
    flex-direction: column;
    margin-bottom: 7px;
    align-items: center;
    float:left;
   }
 }

 @media  screen and (max-width:680px) {

    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 4cm;
        align-items: center;
        padding: 0;
       }
       .container{
        display: flex;
       flex-direction: column;
       width: 100%;
       height: 24cm;
       align-items: center;
       text-align: center;
       }

 }

footer{
height: 7cm;
margin-top: 2cm;
background-color: rgb(37, 43, 43,0.6);
padding: 1cm 2em 1cm 2em;
display: flex;
flex-direction: row;
}
footer .photo img{
    height: 5cm;
    width: 5cm;
    margin :0 auto; 
    border-radius: 100%;
    margin-right: 1cm;

}
.fstyl{
    margin-top:1cm ;
    margin-left: 0.5cm;
}
 footer .commentaire  {
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 2cm;
    margin-bottom: 0.6cm;

}
footer .cop{
    margin-top: 8cm;
    height: 1cm;
    width: 100%;
    background-color: aqua;

}
 h3{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: rgb(240, 188, 77);
}
.gra{
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.expertise{
    font-size: 40px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(10, 10, 10);
}
.cv a{
    text-decoration: black;
    font-size: x-large;
    height: 30px;
    width: 4cm;
    background-color: rgb(187, 218, 207);
    text-align: center;
    color: black;
}